* {
  margin: auto;
}

body {
  background: url(paret.jpeg);
  background-size: cover;
}

h1 {
  text-align: center;
  width: 70%;
  font-size: 2em;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, .5);
  opacity: .7;
  padding: 20px;
  color: white;
  font-family: Oswald, Arial;
  border-radius: 10px;
}

#calendar {
  width: 70%;
  background: rgba(0, 0, 0, .5);
    opacity: .7;
  color: white;
  font-family: Oswald, Arial;
  text-align: center;
    border-radius: 10px;

}

#days {
  /*  border: 1px black;*/
  border-collapse: separate;
  border-spacing: 5px;
  padding: 5px;
    border-radius: 10px;

}

#days th,
td {
  font-family: Oswald, Arial;
  width: 80px;
  height: 40px;
    border-radius: 10px;

}

#days th {
  background-color: rgba(0, 0, 0, .5);
  opacity: .7;
    border-radius: 10px;

}

#currentDate {
  font-family: Oswald, Arial;
}

#currentDate i {
  cursor: pointer;
}

#currentDate i: hover {
  color: brown;
  text-decoration: underline;
}

#currentDate {
  padding-bottom: 10px;
}

#header {
  display: flex;
  justify-content: center;
  width: 70%;
  background: rgba(0, 0, 0, .5);
    opacity: .7;
  color: white;
    border-radius: 10px;

}

#header,
#previous {
  padding: 10px;
  font-family: Oswald, Arial;
  cursor: pointer;
}

#header,
#following {
  padding: 10px;
  font-family: Oswald, Arial;
  cursor: pointer;
}

#previous:hover {
  color: navajowhite;
  text-decoration: underline;
}

#following:hover {
  color: navajowhite;
  text-decoration: underline;
}

#titles {
  font-family: Oswald, Arial;
}



